*{
  margin: 0;
  box-sizing: border-box;
}

body{
  background: #45badd;
}

.container{
  width: 100vw;
  height: 100vh;
  position: relative;
  align-items: center;
  background: url('./robot.gif');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button{
  position: absolute;
  bottom: 10rem;
  cursor: pointer;
  width: 200px;
  height: 50px;
  outline: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  color: #fff;
  background-color: #ff3482;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 20px 10px rgba(0 ,0 , 0, .2);
  transition: all .2s ease;
}

.button:hover{
  filter: brightness(90%);
}

.button:active{
  transform: scale(.95);
}

.button:disabled{
  filter: brightness(30%);
  cursor: default;
}

@media screen and (max-width: 1000px) {
  .container{
    background-size: cover;
    background-position: center;
  }
  .button{
    box-shadow: 5px 5px 30px 20px rgba(0 , 0 , 0 , .5);
  }
}